.line {
  background-color: #7f9490;
  height: 0.125rem;
  margin: auto auto 2rem;
  width: 70%;
}

.privacyPolicy {
  color: #f5f4f2;
  cursor: pointer;
}

.sideBar.showSideBar {
  align-items: center;
  background: #445e51;
  border-bottom-right-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  bottom: 0;
  box-shadow: 0.2125rem 0.2125rem 0.625rem #0000002e;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  left: 0;
  overflow: hidden;
  padding-top: 2rem;
  position: relative;
  top: 1rem;
  width: 60%;
  z-index: 4200;
}

.sideBarHeader {
  color: #f5f4f2;
  text-align: center;
  text-decoration: none;
}

.sideBarInfoUser,
.sideBarNavLink {
  align-items: center;
  color: #f5f4f2;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  text-decoration: none;
}

.sideBarInfoUser:hover,
.sideBarNavLink:hover {
  background-color: #7f9490;
  border-radius: 0.625rem;
}

.sideBarLogo {
  height: 8rem;
  width: 8rem;
}

.sideBarMenu {
  width: 100%;
}

.sideBarNav {
  padding: 0;
}

.sideBarOverlay.hideOverlay,
.sideBar.hideSideBar {
  display: none;
}

.sideBarOverlay.showOverlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 22040;
}

.sideBarUserImg {
  height: 1.875rem;
  width: 1.875rem;
}

.sideBarUserName {
  color: #f5f4f2;
  text-decoration: none;
}

.sideNavBarFooter {
  color: #f5f4f2;
  margin-bottom: 2rem;
  opacity: 0.8;
  text-align: center;
}

@media (min-width: 767px) {
  .sideBar.showSideBar {
    width: 50%;
  }
}

@media (min-width: 575px) {
  .sideBar.showSideBar {
    width: 40%;
  }
}

@media (min-width: 991px) {
  .sideBar.showSideBar {
    width: 30%;
  }
}

@media (min-width: 1199px) {
  .sideBar.showSideBar {
    width: 15%;
  }
}
