.badgeMessNotif {
  right: 7.5rem;
}

.badgeMessNotif,
.badgeNotif {
  background-color: #dc3545;
  border-radius: 0.3125rem;
  color: #f5f4f2;
  font-size: 0.7rem;
  padding: 0.125rem 0.25rem;
  position: absolute;
  top: 0.5rem;
  transition: 0.3s;
}

.badgeNotif {
  right: 4.0625rem;
}

.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0.3125rem 0.3125rem 0.625rem #0000002e;
  color: #f5f4f2;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  position: relative;
}

.mainNavBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navBarIcon {
  cursor: pointer;
  font-size: 1.2rem;
}

.navBarLogo {
  height: 5rem;
  left: 48%;
  position: absolute;
  top: -0.8rem;
  transition: 0.3s;
  width: 5rem;
}

.navBarLogo:hover,
.navBarIcon:hover,
.navBarLink:hover,
.badgeMessNotif:hover,
.badgeNotif:hover,
.navBarFullScreen:hover {
  transform: scale(1.09);
}

.navBarRight {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navBarRightItem {
  margin-right: 2rem;
  transition: 0.3s;
}
